### Multi-Linear Regression(MLR) : 다중회귀

* 독립 변수 2개 이상
* 수치형 자료 여러 개 묶어서 때리면 좋을 듯

In [2]:
# GrLivArea : 지상생활권 면적
# FullBath : 화장실 개수
# LowQualFinSF : 품질 상태 낮은 구역 면적

In [3]:
import pandas as pd

house_price_df = pd.read_csv('C:/Users/hmins/Desktop/ML/house_prices-advanced-regression-techniques/train.csv')

train = house_price_df.sample(frac=0.75, random_state=99)
test = house_price_df.drop(train.index)

train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
57,58,60,RL,89.0,11645,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Normal,196500
887,888,50,RL,59.0,16466,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,135500
1174,1175,70,RL,80.0,16560,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,239000
1164,1165,80,RL,NaN,16157,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,194000
820,821,60,RL,72.0,7226,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,183000

In [4]:
# baseline : 기준모델

# 회귀 : 타겟의 평균값 (또는 중앙값)
# 분류 : 타겟의 값 중 가장 많은 것 (타겟의 최빈 클래스)
# 시계열 : 이전 타임스탬프의 값

# 다중회귀라서 평균값으로 사용

In [17]:
target = 'SalePrice'
y_train = train[target]
y_test = test[target]

pred = y_train.mean()

[pred]

57      196500
887     135500
1174    239000
1164    194000
820     183000
         ...
987     395192
200     140000
732     222500
540     315000
691     755000
Name: SalePrice, Length: 1095, dtype: int64

### 회귀 예측 평가 지표
* MAE(Mean Absolute Error) : (예측값 - 실제값)의 절댓값의 평균
* RMSE(Root Mean Squared Error) : 예측값 - 실제값 의 제곱의 평균 루트
-----------------
* RMSE는 평균을 낼 때 루트n 을 사용하기 때문에 RMSE > MAE
\n
-----------------
### RMSE 장점
* 큰 오류값 차이에 대해 크게 패널티를 부여함
* 특이값에 휘둘리지 않는 RMSE를 더 많이 사용함

In [7]:
# MAE, RMSE 비교

In [15]:
# y_train : 분리된 데이터

from sklearn.metrics import mean_absolute_error

y_pred = [pred] * len(y_train)
mae = mean_absolute_error(y_train, y_pred)

print(f'MAE : {mae:.3f}')

MAE : 59208.470

In [16]:
import numpy as np
from sklearn.metrics import mean_squared_error

y_pred = [pred] * len(y_train)
mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)

print(f'RMSE : {rmse:.3f}')

RMSE : 81538.397

### 단독 회귀 모델

In [34]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

feature = ['GrLivArea']

X_train = train[feature]
X_test = test[feature]

model.fit(X_train, y_train)
y_pred = model.predict(X_train)

mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)

print(f'MAE : {mae:.3f}','\n')
print(f'RMSE : {rmse:.3f}')

MAE : 38113.331

RMSE : 57470.212

In [35]:
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)


print(f'MAE : {mae:.3f}','\n')
print(f'RMSE : {rmse:.3f}')

MAE : 36662.735

RMSE : 51598.096

### 다중 회귀 모델

In [36]:
features = ['GrLivArea',
            'FullBath',
            'LowQualFinSF']

X_train = train[features]
X_test = test[features]

model.fit(X_train, y_train)
y_pred = model.predict(X_train)

mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)

print(f'MAE : {mae:.3f}','\n')
print(f'RMSE : {rmse:.3f}')

MAE : 36898.125

RMSE : 55747.818

In [37]:
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)


print(f'MAE : {mae:.3f}','\n')
print(f'RMSE : {rmse:.3f}')

MAE : 34747.762

RMSE : 49147.659